.tl{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

}

.tl-text{
    width: 70%;
}

.tl-desc{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tl-title{
    font-size: 50px;
    font-weight: 600;
    color: #B1A296;
}

.tl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.t{
    width: 40vh;
    height: 54vh; /*To increase height of boxes so I can add more points increase this*/
    margin: 40px 10px; 
    border: 4px solid;
    border-color: #B1A296;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.t-browser{
    height: 30px;
    background-color: #B1A296;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #2E1114;
}

ul {
    padding: 10px 30px;
}

li{
    text-align: start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
}



.t-bg{
    clip-path: polygon(0% 0%, 0% 100%, 3% 100%, 3% 3%, 97% 3%, 97% 97%, 2% 97%, 0 100%, 100% 100%, 100% 0%);
    background-color: #B1A296;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0%;

}


@media screen and (max-width: 480px){
    .tl{
        padding: 10px;
        padding-top: 40px;
    }

    .tl-text{
        width: 100%;
    }

    .tl-desc{
        display: none;
    }

    .t{
        width: 40%;
        height: 45vh;
    }


}
