.a{
    height: 120vh;
    display: flex;
    align-items:flex-start;
    height: 100%;
    margin: 10vh 5vh 10vh 5vh;
}

.a-right{
    flex: 1;
    display: flex;
    align-items:initial;
    justify-content:baseline;
    position: relative;
    height: 20%;
    overflow:hidden;
    padding: 10px 30px;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: lightgrey;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 70%;
    height: 100%;
    object-fit:cover;
}

.a-left{
    flex: 1;
}

.a-title{
    color: #5d5c61;
}

.a-sub{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;

    }

    .a-right{
        width: 50%;
        padding: 20px 20px 20px 20px;
    }

    .a-card{
        height: 20vh;
    }

    .a-card.bg{
        display: none;
    }

    .a-left{
        padding: 20px 20px;
    }
}